<app-navbar></app-navbar>
<div class="container-fluid">
    <div style="margin-top:6em">
        <div class="row justify-content-center">
            <div class="col-md-12 update-invoice-form">
              <h2 style="text-align:center">ใบรายการสั่งซื้อที่ {{ invoice.id }}</h2>
                <div class="alert alert-danger" role="alert" *ngIf="invoice.id==undefined; else editCategoryForm" style="margin-top:1em;text-align:center;">
                    ไม่พบข้อมูลใบสั่งซื้อ
                </div>
                

                <ng-template #editCategoryForm>
                  <div class="row justify-content-center" style="margin-top:3em">
                  <div class="col-md-9">
                    <h4>รายการสินค้าที่อยู่ในใบสั่งซื้อ ของบริษัท {{ invoice.getCompany().getCompanyName() }}</h4>
                    <table class="table">
                      <thead>
                        <th align="center">ชื่อสินค้า</th>
                        <th align="center">จำนวนสินค้าคงเหลือ</th>
                        <th align="center">จำนวนสินค้านำเข้า</th>
                        <th align="center">วันที่คาดว่าสินค้าจะเข้า</th>
                        <th align="center">สถานะนำเข้าสินค้า</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let invoiceDetail of invoice.invoiceDetails;index as i">
                          <td width="15%">{{ invoiceDetail.product.productName }}</td>
                          <td width="20%">{{ invoiceDetail.product.productQty }}&nbsp;ชิ้น</td>
                          <td width="15%">{{ invoiceDetail.quantity }}&nbsp;ชิ้น</td>
                          <td width="25%">{{ invoiceDetail.productInDate }}</td>
                          <td width="40%">
                            <!-- if productIn -->
                            <!-- <label class="switch">
                              <input type="checkbox" [checked]="invoiceDetail.productIn"
                              [disabled]="isProductInDefault[i]"
                              [(ngModel)]="invoiceDetail.productIn">
                              <span class="slider round"></span>
                            </label> -->
                            <input type="number" [(ngModel)]="invoiceDetail.productInQuantity"
                            class="form-control" style="max-width:25%;text-align:center;display:inline"
                            [disabled]="checkInvoiceDetailCompleate(i)" alt="ค่าดั่งเดิมคือ : ProductInQuantityDefault[i]">
                            / {{ invoiceDetail.quantity }}
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                   
                        <h3 style="text-align:right">ราคารวม <span style="color:green">{{ sumPrice() | number}}</span> บาท</h3>
                    
                    <button type="submit" class="btn btn-outline-primary" style="margin-top:1em;float:right" (click)="confirmUpdateStock.open()">บันทึกใบสั่งซื้อ</button>
                    <button type="submit" class="btn btn-outline-danger" style="margin-top:1em;float:right;margin-right:1em;" (click)="reset()">รีเซ็ต</button>
                  </div>
                </div>
                <modal #confirmUpdateStock>
                    <ng-template #modalHeader>
                        <h4>คำเตือน</h4>
                    </ng-template>
                    <ng-template #modalBody>
                        คุณต้องการที่จะบันทึกใบสั่งซื้อสินค้าใช่หรือไม่ ขั้นตอนนี้ไม่สามารถกลับมาแก้ไขได้เนื่องจากมีผลต่อสินค้าในคลัง
                    </ng-template>
                    <ng-template #modalFooter>
                        <button class="btn btn-outline-danger" (click)="confirmUpdateStock.close()">ยกเลิก</button>
                        <button class="btn btn-outline-primary" (click)="updateInvoice()">ตกลง</button>
                    </ng-template>
                </modal>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>