<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/">MiniPOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-users']">จัดการบัญชีผู้ใช้</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-companies']">จัดการบริษัทนำเข้าสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-categories']">จัดการประเภทสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-products']">จัดการสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-low-stock']">จัดการรายการสินค้าเหลือน้อย</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-invoice']">จัดการรายการคำสั่งซื้อสินค้า</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list-all-users']">รายงานผลการขาย</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">ออกจากระบบ</a>
            </li>
        </ul>
    </div>
</nav>