<div class="resetPasswordBackground">
    <div class="container-fluid">   
        <div class="row justify-content-center">
         <div class="col-md-6">
           <div class="resetPasswordForm">
            <div *ngIf="errMsg!=''; else resetUserPasswordFrm">
              <h3>แก้ไขรหัสผ่าน</h3>
              <div class="alert alert-danger" role="alert" style="text-align:center;">
                  {{ errMsg }}
              </div>
              </div>
              <ng-template #resetUserPasswordFrm>
                <h3 >แก้ไขรหัสผ่าน คุณ : {{ user.getUsername() }}</h3>
               <form  novalidate [formGroup]="form" (ngSubmit)="resetUserPassword(form)">  
                  <label for="password">รหัสผ่าน</label>
                  <label style="color:red;float:right" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                      กรุณากรอกรหัสผ่าน
                  </label>
                  <input type="password" class="form-control" name="password" autocomplete="off" placeholder="password" formControlName="password" required>
                  <label for="retype-password">ยืนยัน-รหัสผ่าน</label>
                  <label style="color:red;float:right" *ngIf="form.get('repeatPassword').touched && form.get('repeatPassword').value != form.get('password').value">
                      รหัสผ่านไม่ตรงกัน
                  </label>
                  <input type="password" class="form-control" name="retype-password" autocomplete="off" placeholder="retype-password" formControlName="repeatPassword" required>
                  <br style="clear:both" />
                  <button type="submit" class="btn btn-outline-primary btn-block" style="margin-top:0.5em;" [disabled]="form.invalid">บันทึกการแก้ไข</button>
                </form>
              </ng-template>
                </div>
         </div>
        </div>
     </div>
</div>
<app-footer></app-footer>
