<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div style="margin-top:6em">
            <a class="btn btn-outline-primary" style="float:right" [routerLink]="['/create/company']">
         เพิ่มบริษัทนำเข้า
        </a>
            <h2>รายชื่อบริษัทนำเข้า</h2>
            <div class="alert alert-danger" role="alert" *ngIf="companies.length<1; else foundCompanies" style="text-align:center;">
                ไม่พบข้อมูลบริษัทนำเข้า
            </div>
            <ng-template #foundCompanies>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>ชื่อบริษัทนำเข้า</th>
                            <th>อีเมล</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of companies; index as i">
                            <td>{{ i+1 }}</td>
                            <td>{{ company.getCompanyName() }}</td>
                            <td>{{ company.getCompanyEmail() }}</td>
                            <td>
                                <a [routerLink]="['/edit/company/'+company.getId()]">
                                    <i class="fa fa-edit"></i>
                                </a>
                                |
                                <a (click)="confirmRemoveModal.open()">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <modal #confirmRemoveModal>
                                    <ng-template #modalHeader>
                                        <h4>คำเตือน</h4>
                                    </ng-template>
                                    <ng-template #modalBody>
                                        คุณต้องการลบบริษัท {{ company.getCompanyName() }} ใช่หรือไม่
                                    </ng-template>
                                    <ng-template #modalFooter>
                                        <button class="btn btn-outline-danger" (click)="confirmRemoveModal.close()">ยกเลิก</button>
                                        <button class="btn btn-outline-primary" (click)="removeCompany(company.getId())">ยืนยันการลบ</button>
                                    </ng-template>
                                </modal>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>