<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div style="margin-top:6em">
            <a class="btn btn-outline-primary" style="float:right" [routerLink]="['/create/product']">
         เพิ่มสินค้า
        </a>
            <h2>รายชื่อสินค้า</h2>
            <div class="alert alert-danger" role="alert" *ngIf="products.length<1; else foundProducts" style="text-align:center;">
                ไม่พบข้อมูลสินค้า
            </div>
            <ng-template #foundProducts>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>ชื่อสินค้า</th>
                            <th>จำนวนสินค้าคงเหลือ</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; index as i">
                            <td>{{ i+1 }}</td>
                            <td>{{ product.getProductName() }}</td>
                            <td>{{ product.getProductQty() }} ชิ้น</td>
                            <td>
                                <a [routerLink]="['/edit/product/'+product.getId()]">
                                    <i class="fa fa-edit"></i>
                                </a>
                                |
                                <a (click)="confirmRemoveModal.open()">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <modal #confirmRemoveModal>
                                    <ng-template #modalHeader>
                                        <h4>คำเตือน</h4>
                                    </ng-template>
                                    <ng-template #modalBody>
                                        คุณต้องการลบสินค้า {{ product.getProductName() }} ใช่หรือไม่
                                    </ng-template>
                                    <ng-template #modalFooter>
                                        <button class="btn btn-outline-danger" (click)="confirmRemoveModal.close()">ยกเลิก</button>
                                        <button class="btn btn-outline-primary" (click)="removeProduct(product.getId())">ยืนยันการลบ</button>
                                    </ng-template>
                                </modal>

                                <modal #errorRemoveModal>
                                    <ng-template #modalHeader>
                                        <h4>เกิดข้อผิดพลาด</h4>
                                    </ng-template>
                                    <ng-template #modalBody>
                                        {{ errModalMsg }}
                                    </ng-template>
                                    <ng-template #modalFooter>
                                        <button class="btn btn-outline-danger" (click)="errorRemoveModal.close()">ยกเลิก</button>
                                    </ng-template>
                                </modal>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>