<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div style="margin-top:6em">
            <h2>รายการใบสั่งซื้อ</h2>
            <div class="alert alert-danger" role="alert" *ngIf="invoices.length<1; else foundInvoices" style="text-align:center;">
                ไม่พบข้อมูลรายการสั่งซื้อสินค้า
            </div>
            <ng-template #foundInvoices>
                <table class="table ">
                    <thead>
                        <tr>
                            <th>หมายเลขใบสั่งซื้อ</th>
                            <th>ทำรายการวันที่</th>
                            <th>รายการสินค้า</th>
                            <th>บริษัทนำเข้า</th>
                            <th>สถานะ</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoice of invoices; index as i">
                            <td>{{ invoice.getId() }}</td>
                            <td>{{ invoice.getDate() }}</td>
                            <td>{{ invoice.getInvoiceDetails().length }} รายการ</td>
                            <td>{{ invoiceForCompany(invoice) }}</td>
                            <td>
                             <span *ngIf="checkProductIn(invoice)=='ดำเนินการสำเร็จ'" style="background-color:green;color:white;padding:5px">
                                  {{ checkProductIn(invoice) }}
                             </span>   
                             <span *ngIf="checkProductIn(invoice)=='รอการดำเนินการ'" style="background-color:orange;color:white;padding:5px">
                                    {{ checkProductIn(invoice) }}
                               </span>   
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" [routerLink]="['/update-stock/'+invoice.getId()]">
                                    จัดการใบสั่งซื้อ
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>