@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit-Regular.ttf')
}

body,
html {
    font-family: Kanit;
    min-height: 100vh;
}

.container-fluid {
    min-height: 100vh;
}

.login-background {
    background-color: #B2DFDB;
    height: 100%;
}

.login-background .login-frm {
    background-color: #fff;
    padding: 20px;
    margin-top: 10em;
    margin-bottom: 2em;
}

.background {
    background-color: #fff;
}