<app-navbar></app-navbar>
<div class="container-fluid ">
    <div style="margin-top:6em">
        <a class="btn btn-outline-primary" style="float:right" [routerLink]="['/create/user']">
         เพิ่มบัญชี
        </a>
        <h2>บัญชีผู้ใช้ทั้งหมด</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับที่</th>
                    <th>ชื่อบัญชี</th>
                    <th>อีเมล</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>
                        <a [routerLink]="['/edit/user/'+user.getId()]">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>