<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div style="margin-top:6em">
            <a class="btn btn-outline-primary" style="float:right" [routerLink]="['/create/user']">
            เพิ่มบัญชี
            </a>
            <h2>บัญชีผู้ใช้ทั้งหมด</h2>
            <div class="alert alert-danger" role="alert" *ngIf="users.length<1; else foundUser" style="text-align:center;">
                ไม่พบข้อมูลบัญชีผู้ใช้
            </div>
            <ng-template #foundUser>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>ชื่อบัญชี</th>
                            <th>อีเมล</th>
                            <th>สถานะผู้ใช้</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; index as i">
                            <td>{{ i+1 }}</td>
                            <td>{{ user.getUsername() }}</td>
                            <td>{{ user.getEmail() }}</td>
                            <td>{{ checkUserStatus(user) }}</td>
                            <td>
                                <a [routerLink]="['/edit/user/'+user.getUsername()]">
                                    <i class="fa fa-edit"></i>
                                </a>
                                |
                                <a (click)="confirmRemoveModal.open()">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <modal #confirmRemoveModal>
                                    <ng-template #modalHeader>
                                        <h4>คำเตือน</h4>
                                    </ng-template>
                                    <ng-template #modalBody>
                                        คุณต้องการลบบัญชี {{ user.getUsername() }} ใช่หรือไม่
                                    </ng-template>
                                    <ng-template #modalFooter>
                                        <button class="btn btn-outline-danger" (click)="confirmRemoveModal.close()">ยกเลิก</button>
                                        <button class="btn btn-outline-primary" (click)="removeUser(user.getUsername())">ยืนยันการลบ</button>
                                    </ng-template>
                                </modal>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>