<app-navbar></app-navbar>
<div class="container">
    <div style="margin-top:6em">
        <h2>บัญชีผู้ใช้ทั้งหมด</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับที่</th>
                    <th>หมายเลขบัญชี</th>
                    <th>ชื่อบัญชี</th>
                    <th>อีเมล</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{i}}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>